@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;800&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap");
body {
  font-family: "Playfair Display", serif;
  line-height: 1.714;
  color: #626262;
  font-size: 15px;
  font-weight: 300;
}
h2 {
  font-weight: 300;
  font-size: 30px;
}
a {
  color: #626262;
  text-decoration: none;
}
img {
  width: 100%;

  object-fit: cover;
  border: 2px solid #332e2e69;
}
.section-heading {
  text-align: center;
  margin-bottom: 50px;
}
.section-heading h2 {
  font-size: 40px;
  font-weight: 500 !important;
}
.section-heading p {
  font-size: 17px;
}
.single-team-section a {
  display: inline-block;
  border: 2px solid;
  color: #fff;
}
.single-team-icon {
  background: #0e7b0ed9;
  text-align: center;
  padding: 10px 0;
}
.single-team-section a {
  display: inline-block;
  border: 2px solid;
  color: #fff;
  text-align: center;

  margin: 5px;

  border-radius: 5px;
  width: 30px;
  height: 30px;
}
.single-team-section h2 {
  text-align: center;
  font-weight: 700;
  padding: 20px 0;
  text-transform: uppercase;
}
.single-team-section h2 span {
  display: block;
  color: #328f32;
  font-weight: 300;
  font-size: 67%;
  margin-top: 8px;
}
.single-team-icon {
  background: #0e7b0ed9;
  text-align: center;
  padding: 10px 0;
  margin-right: 25px;
  margin-left: 25px;
  margin-top: -30px;
  position: relative;
  z-index: 1;
}
